
<div class="card shadow">
  <div class="card-header">
    Dirección
  </div>
  <div class="card-body">
    <p class="card-text">Km. 11.5 Carretera Atizapan de Zaragoza-Nicolás Romero S/N. Boulevard Universitario S/N Predio San Javier Atizapán de Zaragoza, Estado de México.</p>
  </div>
</div>
<br>


<div class="card shadow">
  <div class="card-header">
    Teléfono: 
  </div>
  <div class="card-body">
		(01 55) 58 27 03 61 ó (01 55) 58 27 05 79
    <p class="card-text"></p>
  </div>
</div>
<br>

<div class="card shadow">
  <div class="card-header">
    Fax: 
  </div>
  <div class="card-body">
		58 27 07 03
    <p class="card-text"></p>
  </div>
</div>
