<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<div class="">
   <center>
   <img src="http://cuvm.com.mx/img/UAEMQ.png" width="80" height="80"><br>
   <h7 class="text-white">CENTRO UNIVERSITARIO UAEM VALLE DE MEXICO CUVM</h7> 
   </center>

   <nav class="navbar navbar-expand-lg ">
    <a class="menu-item navbar-brand" href="/">Coordinacón</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="menu-item nav-link" href="/teachers">Investigadores</a>
        </li>

        <li class="nav-item">
          <a class="menu-item nav-link" href="#">Reportes de Investigación</a>
        </li>
        
        <li class="nav-item">
          <a class="menu-item nav-link" href="#">Avisos</a>
        </li>
        
      </ul>

    </div>
    </nav>
</div>
