<h3>Experience</h3>
	<div class="row">
	    <div class="col-sm">
	  	   {% for content in (0..2) %}
		 	<ul>
		 	<li>{{ site.data.expe.experiences[ content ].experience }} </li>
				{% for value in site.data.expe.experiences[ content ].values %}
	 			<ul>
		 			<li> {{ value }} </li>
				</ul>
	      		{% endfor %}
			</ul>
	       {% endfor %}		
	  	</div>
  	 	<div class="col-sm">
	  	   {% for content in (3..5) %}
	 		<ul>
		 	<li>{{ site.data.expe.experiences[ content ].experience }} </li>
				{% for value in site.data.expe.experiences[ content ].values %}
	 			<ul>
		 			<li> {{ value }} </li>
				</ul>
      			{% endfor %}
		    </ul>
      	   {% endfor %}		
  	 	</div>
	</div>