<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head_main.html %}
  </head>
  <body>
    {% include navegacion.html %}
    {% assign profile = site.data.data.sidebar %}
    {% assign profile-career = site.data.data.career-profile %}
    <br>
    <br>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 p-3 mb-2 bg-light text-dark">
            <h2>Contenido</h2>
            <div class="list-group">
              {% for proyecto in page.contenido %}
              <a href="#{{ proyecto['link'] }}" class="list-group-item list-group-item-action">{{proyecto['section']}}</a>
              {% endfor %}
            </div>
          </div>

          <div class="col-sm-8 text-justify">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              {{content}}
            </div>
          </div>
          <div class="col-sm-2 p-3 mb-2 bg-light text-dark">

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
